:root {
  --primary-text-color: #000000cc;
  --text-title-color: #757575;
  --accent-text-color: #2196f3;
}

.body {
  background-color: #fff;
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

.web {
  color: var(--accent-text-color);
}

.body .web-studio {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */

  letter-spacing: 0.03em;
}

.studio {
  color: var(--primary-text-color);
}

/* site-nav style */
.title-text {
  color: var(--text-title-color);
}

.section {
  list-style: none;
}

.link {
  color: #212121;
}

.link:hover,
.link:focus {
  color: var(--accent-text-color);
}

.link-current {
  color: var(--accent-text-color);
}

.contact {
  color: var(--text-title-color);
}

/* hero */
.hero-title,
.title {
  color: #b9a4a4;
}

/* main */
.section-title {
  color: #212121;
}

.transition {
  color: #afb1b8;
}

.transition:hover,
.transition:focus {
  color: var(--accent-text-color);
}

.button {
  color: #ffffff;
  background-color: var(--accent-text-color);
}
.button:hover,
.button:focus {
  color: #0925a3;
}

/* footer */
.footerr {
  background-color: #2f303a;
  color: var(--primary-text-color);
}
